

<div class="row my-5">
  <div class="col-lg-3 col-md-4 col-sm-6 " *ngFor="let friend of allFriends">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{friend.firstname + " " + friend.lastname}}</h5>


        Favourite language: <span class=""></span>{{friend.language}}


      </div>
      <h6>Contacts:</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{friend.email}}</li>
        <li class="list-group-item">{{friend.phone}}</li>
      </ul>
    </div>
  </div>
</div>

