<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular with friends</a>


    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/form">Add a friend</a>
      <a class="nav-item nav-link" routerLink="/list">List view</a>
    </div>

  <!--      <li class="nav-item">-->
  <!--        <a class="nav-link disabled" href="#">Disabled</a>-->
  <!--      </li>-->

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
