{{friendModel | json}}
{{ friendsForm.value |json}}
<div name="friendsForm" class="w-50 mx-auto" ngForm #friendsForm="ngForm">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" id="firstname" name="firstname" class="form-control"

           required
           pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$"
           minlength="4"
           [(ngModel)]="friendModel.firstname" #firstname="ngModel"
           [class.is-invalid]="firstname.invalid&& firstname.touched"
           [class.is-valid]="firstname.valid&& firstname.touched">
  </div>
  <div class="form-group">
    <label for="firstName">Lastname</label>
    <input type="text" id="lastname" name="lastname" class="form-control"
           required
           pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$"
           minlength="4"
           [(ngModel)]="friendModel.lastname" #lastname="ngModel"
           [class.is-invalid]="lastname.invalid && lastname.touched"
           [class.is-valid]="lastname.valid && lastname.touched">

  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" id="email" name="email" class="form-control"
           required
           pattern="^([a-zA-Z0-9_.]+)@(([[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.)|(([a-zA-Z0-9-]+.)+))([a-zA-Z]{2,4}|[0-9]{1,3})$"
           [(ngModel)]="friendModel.email" #email="ngModel"
           [class.is-invalid]="email.invalid && email.touched"
           [class.is-valid]="email.valid">
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input
      type="text" id="phone" name="phone" class="form-control"
      required

      pattern="^\ *(((\+|0\ *0)\ *([0-9]\ *[0-9]))|[0-9])(\ *[0-9]){9}\ *$"

      [(ngModel)]="friendModel.phone" #phone="ngModel"
      [class.is-invalid]="phone.invalid&& [] && phone.touched"
      [class.is-valid]="phone.valid"
    >
  </div>
  <div class="form-group">
    <label for="language"></label>
    <select class="form-control" id="language" [(ngModel)]="friendModel.language" name="language" required>
      <option *ngFor="let lang of languages; index as i " value="{{ lang }}">{{lang}}</option>
    </select>
  </div>
  <button class="btn d-block mx-auto text-center w-25 btn-primary form-control" id="submit"
          [disabled]="friendsForm.invalid"
  > Submit</button>
</div>

